PORT = "8000"

DATABASE_URL=



CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RZPAY_KEY_ID= 
RZPAY_SECRET_KEY = 
RAZORPAY_WEBHOOK_SECRET = 

RAZORPAY_WEBHOOK_SECRET_LOCAL =

ELASTICSEARCH_URL = 
ELASTIC_API_KEY = 

ELASTIC_PRODUCTION_INDEX = 

PINECONE_API_KEY = 
PINECONE_INDEX_NAME = 
PINECONE_HOST = 

GEMINI_API_KEY = 
